<component name="ArtifactManager">
  <artifact type="war" name="springmvc archive">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvc_archive</output-path>
    <root id="archive" name="springmvc archive.war">
      <element id="artifact" artifact-name="springmvc" />
    </root>
  </artifact>
</component>